<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='cloudy.png') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='cloudy.png') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="SORA" />
    <meta property="og:description" content="happy site here" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='logo.jpg') }}"
    />
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">Secret page</p>
        <p class="subtitle">You need to be logged in to see this</p>
      </div>
    </section>

    <div class="container mt-3">
      <article class="message">
        <div class="message-header">
          <p>Now you know my secret</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          my secret is that I love someone but I don't want to be close to him
          until I think I'm ready to accept him, but now things are different,
          we are now close and I really don't want that to happen. I'm confused,
          I don't know what to do, I don't want to hurt her, but I don't want to
          be close to her for now, I want to pursue what I want first, which is
          to make my parents proud, I'm sure that with a girlfriend, my studies
          will be very disturbed. it was proven when I was in grade 10, my
          grades dropped and I really didn't excel, I don't want that to happen
          again. allah help me to stay istiqomah.
        </div>
      </article>
    </div>
  </body>
</html>
